body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.search-container {
    text-align: right;
    padding: 30px;

}

#people-table td {
    background-color: white;
  }
  