
.logocaos{
    width: 70px;
    padding: 10px 0;
    background: transparent;

}

.carousel-caption {
  position: absolute; 
  right: 15%;
  bottom: 50px; /* Cambiar bottom por top y los píxeles que se necesiten */
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.555); /* Añadir para conseguir el fondo con opacidad */
}

.iconos-redes{
    width: 50px;
    margin: 10px 5px;
}

.altura{
    padding: 50px;
}
.altura-titulo{
    padding: 60px;
}

 body {
  background: linear-gradient(to right, #313131, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Pie de pagina (footer) */
.footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 150px;
    width: 150px;
    margin: 10px;
  }
  
  .footer-texto {
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif; 
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }